 GEMINI_API_KEY=AIzaSyC7_BQBunysKT5vmJGIrs2L-eiuNiU7jX0
 GOOGLE_CLIENT_ID=1013979913502-7ndbgtf9g3j6fchf0raa9ela8d3s50ae.apps.googleusercontent.com
 GOOGLE_CLIENT_SECRET=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
 AUTH_SECRET=3b37690fb1068dcb2d96110000f563703c7c48ff8523c99401ec728ca26b81ea
 DATABASE_URL=postgresql://postgres:GIoLmtrpALRzlDXAHVliqoaKngtSAUxr@monorail.proxy.rlwy.net:40778/railway
