OPENAI_API_KEY="sk-proj-6qigRxYqeQ6OoIRFRgqdT3BlbkFJSi8FbKccTt7ieQT8vFYU"
GOOGLE_CLIENT_ID="dhenenjay.2001@hau.ac.in"
GOOGLE_CLIENT_SECRET="dh@231001"
AUTH_SECRET="XX"
DATABASE_URL="XX"
NEXT_PUBLIC_PUBLISHABLE_KEY="XX"
STRIPE_SECRET_KEY="XX"
STRIPE_WEBHOOK_SECRET="XX"
STRIPE_WEBHOOK_LOCAL_SERCRET="XX"
PLAUSIBLE_DOMAIN="aquasenseai.com"
